*
{
    margin: 3px;
    padding-right:  38px;
    
    

}

body
{
background: white;

}
cr
{

float: right;




}
l7
{

    margin: 3px;
    padding-right:  38px;
      
}
